<form (ngSubmit)="myForm.valid && onSubmit()" #myForm="ngForm">
  <div>
    Form submitted ? {{myForm.submitted}}
    Form valid ? {{myForm.valid}}
    Form invalid ? {{myForm.invalid}}
  </div>
  <div>
    <label for="firstname-login">Fist Name</label>
    <input name="firstname-login" type="text" [(ngModel)]="model.firstName" #firstName="ngModel" required minlength="3" maxlength="15" >
  </div>
  <!-- Message d'erreurs -->
  <div *ngIf="myForm.submitted && firstName.errors">
    <span *ngIf="firstName.errors?.required">Le prénom est requis</span>
    <span *ngIf="firstName.errors?.minlength">La longueur minimale doit être supérieure à 3</span>
    <span *ngIf="firstName.errors?.maxlength">La longueur maximale doit être inférieure à 15</span>
  </div>
  <div>
    <label for="lastname-login">Last Name</label>
    <input name="lastname-login" type="text" [(ngModel)]="model.lastName" #lastName="ngModel" required minlength="3" maxlength="15">
  </div>
  <!-- Message d'erreurs -->
  <div *ngIf="myForm.submitted && lastName.errors">
    <span *ngIf="lastName.errors?.required">Le nom est requis</span>
    <span *ngIf="lastName.errors?.minlength">La longueur minimale doit être supérieure à 3</span>
    <span *ngIf="lastName.errors?.maxlength">La longueur maximale doit être inférieure à 15</span>
  </div>
  <div>
    <label for="email-login">Email</label>
    <input name="email-login" type="email" [(ngModel)]="model.email" #email="ngModel" required email>
  </div>
  <!-- Message d'erreurs -->
  <div *ngIf="myForm.submitted && email.errors">
    <span *ngIf="email.errors?.required">L'email est requis</span>
    <span *ngIf="email.errors?.email">L'email est invalide</span>
  </div>
  <div>
    <label for="password-login">Password</label>
    <input name="password-login" type="password" [(ngModel)]="model.password" #password="ngModel" required minlength="8">
  </div>
  <!-- Message d'erreurs -->
  <div *ngIf="myForm.submitted && password.errors">
    <span *ngIf="password.errors?.required">Le mot de passe est requis</span>
    <span *ngIf="password.errors?.minlength">La longueur minimale doit être supérieure à 8</span>
  </div>
  <button type="submit">Sauvegarder</button>
</form>
